@model (Book Book, string[] Output, string[] Errors)
@{
    ViewBag.Title = "Ludas Mutare Dominium";
}
<div asp-validation-summary="All"></div> 
<div class="alert alert-heading d-flex flex-column gap-1 fw-bold">
    <span>ISBN: @Model.Book.Reference.ISBN</span>
    <span>TITLE: @Model.Book.Reference.Title</span>
    <span>UID: @Model.Book.UID</span>
    <span>(@Model.Book.State)</span>
</div>
<table class="table table-striped table-bordered w-100">
    <thead>
        <tr><th>Id</th><th>Type</th><th>Start</th><th>End</th><th>Member</th><th>Librarian</th></tr>
    </thead>
     <tbody>
        @foreach (var t in Model.Book.Transactions)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Type</td>
                <td>@t.Start</td>
                <td>@t.End</td>
                <td>@t.Member.UserName</td>
                <td>@t.Librarian.UserName</td>
            </tr>
        }   
     </tbody>
</table>
<table class="table table-striped table-bordered w-100">
    <thead>
        <tr><th>Id</th><th>Start</th><th>End</th><th>Librarian</th></tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Book.Restorations)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Start</td>
                <td>@t.End</td>
                <td>@t.Librarian.UserName</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @foreach (var o in Model.Output)
    {
        <div class="alert alert-info">@o</div>    
    }
</div>
<div>
    @foreach (var e in Model.Errors)
    {
        <div class="alert alert-danger">@e</div>
    }
</div>